
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



.body{
	width: 75%;
	margin: auto;
	text-align: center;
}

hr{
	width: 1000px;
	margin: auto;
}

.h1{
	font-size:50px; 
	padding-top: 20px; 
	margin-bottom: 10px; 
	color: yellow; 
	line-height:75px; 
	font-weight:900; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.h3{
	font-size:30px; 
	margin-bottom: 5px; 
	color: white; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.h3small{
	font-size:25px;
	margin-bottom: 5px;
	color: yellow; 
	line-height:40px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.text{
	font-size: 17px;
	max-width: 88%; 
	color: white; line-height:20px; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.text2{
	font-size: 17px;
	max-width: 88%; 
	color: white; line-height:20px; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-top: 130px;
	margin-left: 30px;
}

.a{
	color: gray;
}

.a:hover{
	text-decoration: underline;
}

.a:active{
	color:yellow
}

.padding{
	padding: 0% 15%;
}



table td{
	padding-right: 20px;
	padding-bottom: 4px;
}

.table1{
	margin-left:160px ;
}

.vid{
	width: 500px;
	padding: 15px 0px;
}

.flex{
	display: flex;
}







